.attendance .table{
	width: 90%;
}
.attendance .table-small{
    width: 60% !important;
}
.attendance .table-middle{
    width: 45% !important;
}
.attendance .attendance-title {
    padding-left: 55px;
}
.attendance .emptyTip {
    padding: 30px;
    text-align: center;
    color: #999;
}
