<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>工作台管理</title>
    <link href="/static/js/antd/2.12.8/antd.css" rel="stylesheet">
</head>

<body>

    <div id="root"></div>
    <!--[if lt IE 10]>
		<script src="/static/js/es5-shim.js"></script>
	<![endif]-->
    <script src="/static/js/babel-polyfill/polyfill.js"></script>
    <script type="text/javascript" src="/static/modules/portal/workbench/vendor.js?1ba91a83226a4b986b32"></script>
    <script type="text/javascript" src="/static/modules/portal/workbench/app.chunk.js?1ba91a83226a4b986b32"></script>
</body>

</html>